@import "tailwindcss";
@import "tw-animate-css";


#root {
  max-width: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-solid-border: var(--solid-border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-outline-button: var(--outline-button);
  --color-exp-item: var(--exp-item);
  --color-exp-item-hover: var(--exp-item-hover);
  --color-card-header: var(--card-header);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --card-header: #c1ebff;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(60.748% 0.00119 13.982 / 0.578);
  --solid-border: oklch(0% 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(100% 0.00011 271.152 / 0.8);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --outline-button: oklch(100% 0.00011 271.152);
  --exp-item: oklch(54.517% 0.00006 271.152 / 0.06);
  --exp-item-hover: oklch(77.424% 0.13182 105.193 / 0.108);

}

.animated-scroll-banner {
  animation: scroll-image 8000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes scroll-image {
  from {
    transform: translateX(0%)
  }

  to {
    transform: translate(100%)
  }
}

.project_button {
  display: flex;
  flex-direction: column;
  flex: 0 auto;
  overflow: hidden;
  width: fit-content;
  color: var(--card-foreground);
  border-style: var(--tw-border-style);
}

.dark {
  --background: oklch(0.1493 0.0181 307.18);
  --card-header: oklch(17.001% 0.01996 309.549);
  --foreground: oklch(0.985 0 0);
  --card: oklch(24.402% 0.02054 322.517);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(100% 0.00011 271.152 / 0.536);
  --solid-border: oklch(100% 0.00011 271.152);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0 0 0 / 80%);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --outline-button: oklch(0% 0 0);
  --exp-item: oklch(77.628% 0.00009 271.152 / 0.062);
  --exp-item-hover: oklch(77.424% 0.13182 105.193 / 0.108);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0.25;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.lava-gradient {
  background-image: linear-gradient(180deg,
      hsl(240deg 100% 20%) 1%,
      hsl(275deg 100% 26%) 49%,
      hsl(310deg 100% 32%) 51%,
      hsl(345deg 100% 38%) 49%,
      hsl(20deg 100% 44%) 51%,
      hsl(55deg 100% 50%) 99%);
}

.rotate-forever {
  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.rotate-forever.stop {
  animation-play-state: paused;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}

.enter-frame {
  will-change: transform;
  transition: transform 125ms;
  transform: translateX(0%);
}

.exit-frame {
  will-change: transform;
  transition: transform 450ms;
  transform: translateX(-150%);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply text-foreground;
  }
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}